html
    head
        title= 'Add new client'
        style
            include ../css/style.css
    body
        div(class="registration-form")
            form(role="form" method="POST" action="/clients/add")
                label(for="client-name")= 'Enter your name'
                input(type="text" placeholder="Enter here" id="client-name" name="client-name")
                button(type=submit)= 'SEND'