html
    head
        title= 'Main page'
        style
            include ../css/style.css
        body
            h3(class="main-page-title")= 'Main page'
            nav(class="main-page-nav")
                a(class="show-all-clients" href="/clients")= 'Show all clients'
                a(class="add-new-client" href="/clients/add")= 'Add new client'